table{
    width: 50vw;
}
th{
    text-align: start;
}
tr,td,tbody{
    overflow: hidden;
}
input{
    border: none;
    background-color: #fff;
}
span{
    width: 8vw;
    padding: 2vw;
    cursor: pointer;
    color: #fff;
    background-color: #28a745;
} 
a{
    text-decoration: none;
}
.delete{
    margin-left: 2vw;
    background-color: #dc2235;
}